@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

html {
  margin: 0;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8f5e9;
  box-sizing: border-box;
}

body {
  margin: 0;
}